*{
    font-family: Maple Mono;
    background: transparent;
    color: #f96900;

}

#window{
    color: #f96900;
    border-color: #f96900;
    border-style: solid;
    border-width: 1px;

    background-image: linear-gradient(to bottom, #121212 100%);
    border-radius: 14px;
}

#scroll{
    border-top-style: solid;
    border-width: 1px;
    border-color: #f96900;
}

#inner-box{
    padding-top: 12px;
}

#entry{
    border-style: none;
    border-color: #f96900;
    color: #f96900;
    padding: 6px;
    margin-bottom: 8px;
    margin-left: 12px;
    margin-right: 12px;

    border-radius: 12px;
}

#entry-selected{
    background:#121212;
    color: #f96900;
    font-weight: bold;
    outline: none;
}


#input {
    background-color: #121212;
    color: #f96900;
    border-color: #f96900;

    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;

    font-style: normal;

    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    padding: 12px;
    margin: 8px;
    }
    
#input:focus {
    background: #121212;
    background-color: #121212;
    border-color: #f96900;
    font-style: italic;
}

#img {
    padding: 4px;
    margin-right: 6px;
}